/* Custom styles for modal close button pseudo-elements */
.modal__close:before, .modal__close:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 20px;
  background-color: #333;
  top: 5px;
  left: 14px;
}
.modal__close:before {
  transform: rotate(45deg);
}
.modal__close:after {
  transform: rotate(-45deg);
}

.modal[aria-hidden="true"] { display: none; }

.theme-select-btn:active {
  background-color: #68D391; /* A darker green */
  border-color: #38A169;
}

.modal__overlay {
  z-index: 2000 !important; /* Leafletの最大値1000より高く設定 */
}