
        {{! @file 「行きたい場所」の入力欄（名称とURL）のテンプレート }}
<div class="flex gap-2 items-center mb-3 dynamic-input-group">
            <input type="text" class="place-name w-full p-2 border border-gray-300 rounded-md grow" placeholder="場所の名前" value="{{name}}">
            <input type="text" class="place-url w-full p-2 border border-gray-300 rounded-md grow" placeholder="URL (任意)" value="{{url}}">
            <button type="button" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-3 text-sm rounded-lg shrink-0 remove-place-btn">削除</button>
        </div>
    